# MongoDB
MONGO_URI=mongodb://localhost:27017/nusopa_mart_db

# JWT
# Ganti dengan random secret panjang minimal 32 karakter.
JWT_SECRET=GANTI_DENGAN_SECRET_RANDOM_PANJANG_DAN_RAHASIA
JWT_EXPIRES_IN=7d

# Server
PORT=5000
